body {
    background-color: rgb(247, 237, 227);   
} 

h1 {
    text-align: center;
    color:rgb(4, 66, 120);
    font-size: 40px;
    background-color: rgb(246, 114, 180);
    border: 15px solid rgb(247, 237, 227);  
    border-style: dashed;
    padding: 1em;
}

#root {
    width: 1265px;
    height: 1000px;
}

#numberEncode, #numberDecode {
    padding: 1em;
    text-align:center;
    width: 100px;
    height: 20px;
    color: rgb(12, 75, 129);
    font-size: 20px;
}

#wordEncode, #wordDecode {
    resize: none;
    padding: 1em;
    word-wrap: break-word;
    text-align:center;
    width: 400px;
    height: 100px;
    color: rgb(12, 75, 129);
    font-size: 18px;
}

#resultEncode, #resultDecode {
    resize: none;
    padding: 1em;
    word-wrap: break-word;
    text-align: center;
    width: 500px;
    height: 160px;
    color: rgb(150, 0, 128);
    font-size: 19px;
}

#divEncode {
    float: left;
    width: 540px;
    height: 750px;
    padding: 1em;
    text-align: center;
    border: 20px solid rgb(21, 170, 200);
    color: rgb(12, 75, 129);
    font-size: 24px;
}

#divDecode {
    float: right;
    width: 540px;
    height: 750px;
    padding: 1em;
    text-align: center;
    border: 20px solid rgb(21, 170, 200);
    color: rgb(12, 75, 129);
    font-size: 24px;
}

button {
    padding: 1em; 
    text-align: center;
    size: 30px;
    font-size: 19px;
    border-color:rgb(246, 114, 180) ;
    background-color:rgb(246, 114, 180);
    color: #FFF;
}