body {
    background-color: rgb(250, 241, 214);   
} 

h1 {
    text-align: center;
    color:rgb(4, 66, 120);
    font-size: 40px;
    background-color: rgb(246, 114, 180);
    border: 15px solid rgb(250, 241, 214);
    border-style: dashed;
    padding: 1em;
}

#root {
    width: 1265px;
    height: 650px;
}

#numberEncode, #numberDecode {
    padding: 1em;
    color: rgb(12, 75, 129);
    font-size: 15px;
}

#wordEncode, #wordDecode {
    padding: 1em;
    color: rgb(12, 75, 129);
    font-size: 15px;
}

#resultEncode, #resultDecode {
    word-break: break-all;
    width: 540px;
    color: rgb(12, 75, 129);
    font-size: 20px;
}

#divEncode, #divDecode {
    display: inline-block;
    width: 540px;
    height: 600px;
    position: relative;
    top: 30px;
    padding: 1em;
    text-align: center;
    border: 20px solid rgb(39, 204, 237);
    color: rgb(12, 75, 129);
    font-size: 25px;
}

/*#divDecode {
    display: inline-block;
    width: 540px;
    height: 650px;
    position: static;
    right: -800px;
    padding: 1em;
    text-align: center;
    border: 20px solid rgb(39, 204, 237);
    color: rgb(12, 75, 129);
    font-size: 25px;
}*/

button {
    padding: 1em; 
    text-align: center;
    size: 30px;
    font-size: 16px;
    border-color:rgb(246, 114, 180) ;
    background-color:rgb(246, 114, 180);
    color:rgb(250, 241, 214)
}